# set to false for live system
APP_DEBUG=true

# crypto key (can be generated with the command: vendor\bin\generate-defuse-key)
CRYPTO_KEY=key_string

# example key for auth routes
API_AUTH_KEY=asd123qwe456

# database setting (driver can be mysql or pgsql)
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database_name
DB_USERNAME=username
DB_PASSWORD=password
